<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <center>
        <h1>Employer Add Job</h1>
    </center>
    <form action="/employer-add-job/" method="POST" enctype="multipart/form-data">
        <center>
            <label for="job_name">Job Name: </label><br>
            <input type="text" id="job_name" name="job_name" required><br><br>

            <label for="job_description">Job Description:</label><br>
            <input type="text" id="job_description" name="job_description"><br><br>

            <label for="salary">Salary: </label><br>
            <input type="text" id="salary" name="salary" required><br><br>


            <form action="/add-job-post" autocomplete="on" method="GET">
                <button type="submit"
                    style="background: green; height: 45px; width: 200px; color:white; font:oblique;">SUBMIT</button><br><br>
            </form>

            <form action="/backToMenu" autocomplete="on" method="POST">
                <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO
                    BACK</button><br><br>
            </form>

        </center>
    </form>
</body>

</html>