<!DOCTYPE html>
<html>

<head>
    <center>
        <font color="DodgerBlue" size="5" style="font-family: avenir">

<body bgcolor="lightgrey">
    <h1>Job Added successfully</h1><br>
    <h2>You have successfully added a job</h2><br>
    <title>Employer Sign-Up Output</title>

    <form action="/employer-menu-page-" autocomplete="on" method="GET">
        <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO
            BACK</button><br><br>
    </form>

</body>
</font>
</center>
</head>

<body>

</body>

</html>