<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="leftSideBar">
        <h1 class="center">Admin Dashboard</h1>
        <div class="leftOption">
            <a href="{{ url_for('admin_app.admin_admin') }}">
                <button class="leftButton">Admin</button>
            </a>
            <a href="{{ url_for('admin_app.admin_student') }}">
                <button class="leftButton">Student</button>
            </a>

            <a href="{{ url_for('admin_app.admin_employer') }}">
                <button class="leftButton">Employer</button>
            </a>

            <a href="{{ url_for('admin_app.admin_tutor') }}">
                <button class="leftButton">Tutor</button>
            </a>
        </div>
    </div>

    <div class="rightBoard">
        <h1>Student Tab</h1>
        <div>
        <a><button onclick="document.getElementById('adminAdd').style.display='block'" style="width:100%;">Add Student</button></a><br>
        <a><button onclick="document.getElementById('adminUpdate').style.display='block'" style="width:100%;">Update Student</button></a><br>
        <a><button onclick="document.getElementById('adminDelete').style.display='block'" style="width:100%;">Delete Student</button></a><br>
        </div>
    </div>

    <div id="adminAdd" class="popOut">

        <form class="popOut-content animate" action="/admin-add-student" method="POST">
            <h1 class="center">Add Student</h1>
            <div class="popOut-container">
                <label for="stu_id"><b>Student ID</b></label><br>
                <input type="text" placeholder="Student ID" id="stu_id" name="stu_id" required><br><br>

                <label for="stu_first_name"><b>First Name</b></label><br>
                <input type="text" placeholder="First Name" id="stu_first_name" name="stu_first_name" required><br><br>
                
                <label for="stu_last_name"><b>Last Name</b></label><br>
                <input type="text" placeholder="Last Name" id="stu_last_name" name="stu_last_name" required><br><br>

                <label for="stu_phone"><b>Phone Number</b></label><br>
                <input type="text" placeholder="Phone Number" id="stu_phone" name="stu_phone" required><br><br>

                <label for="stu_mail"><b>Email Address</b></label><br>
                <input type="text" placeholder="Email Address" id="stu_mail" name="stu_mail" required><br><br>

                <label for="stu_pass"><b>Password</b></label><br>
                <input type="text" placeholder="Password" id="stu_pass" name="stu_pass" required><br><br>

                <label for="stu_addr"><b>Current Address</b></label><br>
                <input type="text" placeholder="Current Address" id="stu_addr" name="stu_addr" required><br><br>

                <label for="stu_course"><b>Course of Study</b></label><br>
                <input type="text" placeholder="Course of Study" id="stu_course" name="stu_course" required><br><br>

                <label for="stu_intake"><b>Year Intake</b></label><br>
                <input type="text" placeholder="Year Intake" id="stu_intake" name="stu_intake" required><br><br>

                <label for="stu_skill"><b>Skill Learned</b></label><br>
                <input type="text" placeholder="Skill Learned" id="stu_skill" name="stu_skill" required><br><br>

                <label for="stu_cgpa"><b>CGPA</b></label><br>
                <input type="text" placeholder="CGPA" id="stu_cgpa" name="stu_cgpa" required><br><br>
            </div>
            <div class="popOut-container">
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: red; height: 45px; width: 200px; margin-left: 2%;">Cancel</button>
                </a>
                <button type="submit" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Add</button>
            </div>
        </form>
    </div>

    <div id="adminUpdate" class="popOut">

        <form class="popOut-content animate" action="/admin-findu-student" method="POST">
            <h1 class="center">Update Student</h1>
            <div class="popOut-container">
                <label for="stu_id"><b>Student ID</b></label><br>
                <input type="text" placeholder="Student ID" id="stu_id" name="stu_id" required><br><br>
            </div>
            <div class="popOut-container">
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: red; height: 45px; width: 200px; margin-left: 2%;">Cancel</button>
                </a>
                <button type="submit" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Find</button>
            </div>
        </form>
    </div>

    <div id="adminDelete" class="popOut">

        <form class="popOut-content animate" action="/admin-findd-student" method="POST">
            <h1 class="center">Delete Student</h1>
            <div class="popOut-container">
                <label for="stu_id"><b>Student ID</b></label><br>
                <input type="text" placeholder="Student ID" id="stu_id" name="stu_id" required><br><br>
            </div>
            <div class="popOut-container">
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: red; height: 45px; width: 200px; margin-left: 2%;">Cancel</button>
                </a>
                <button type="submit" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Find</button>
            </div>
        </form>
    </div>

    {% if obj1 == "uFindSuccess": %}
    <div id="finduSuccess" class="popOut" style="display: unset;">

        <form class="popOut-content animate" action="/admin-update-student" method="POST">
            <h1 class="center">Updating Student {{att1}}</h1>
            <div class="popOut-container">
                <label for="stu_id"><b>Student ID</b></label><br>
                <input type="text" value="{{att1}}" id="stu_id" name="stu_id" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_first_name"><b>First Name</b></label><br>
                <input type="text" value="{{att2}}" id="stu_first_name" name="stu_first_name" required><br><br>
                
                <label for="stu_last_name"><b>Last Name</b></label><br>
                <input type="text" value="{{att3}}" id="stu_last_name" name="stu_last_name" required><br><br>

                <label for="stu_phone"><b>Phone Number</b></label><br>
                <input type="text" value="{{att4}}" id="stu_phone" name="stu_phone" required><br><br>

                <label for="stu_mail"><b>Email Address</b></label><br>
                <input type="text" value="{{att5}}" id="stu_mail" name="stu_mail" required><br><br>

                <label for="stu_pass"><b>Password</b></label><br>
                <input type="text" value="{{att6}}" id="stu_pass" name="stu_pass" required><br><br>

                <label for="stu_addr"><b>Current Address</b></label><br>
                <input type="text" value="{{att7}}" id="stu_addr" name="stu_addr" required><br><br>

                <label for="stu_course"><b>Course of Study</b></label><br>
                <input type="text" value="{{att8}}" id="stu_course" name="stu_course" required><br><br>

                <label for="stu_intake"><b>Year Intake</b></label><br>
                <input type="text" value="{{att9}}" id="stu_intake" name="stu_intake" required><br><br>

                <label for="stu_skill"><b>Skill Learned</b></label><br>
                <input type="text" value="{{att10}}" id="stu_skill" name="stu_skill" required><br><br>

                <label for="stu_cgpa"><b>CGPA</b></label><br>
                <input type="text" value="{{att11}}" id="stu_cgpa" name="stu_cgpa" required><br><br>
            </div>
            <div class="popOut-container">
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: red; height: 45px; width: 200px; margin-left: 2%;">Cancel</button>
                </a>
                <button type="submit" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Update</button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if obj1 == "dFindSuccess": %}
    <div id="finddSuccess" class="popOut" style="display: unset;">

        <form class="popOut-content animate" action="/admin-delete-student" method="POST">
            <h1 class="center">Deleting Student {{att1}}</h1>
            <div class="popOut-container">
                <label for="stu_id"><b>Student ID</b></label><br>
                <input type="text" value="{{att1}}" id="stu_id" name="stu_id" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_first_name"><b>First Name</b></label><br>
                <input type="text" value="{{att2}}" id="stu_first_name" name="stu_first_name" readonly="readonly" required style="background-color: lightgrey;"><br><br>
                
                <label for="stu_last_name"><b>Last Name</b></label><br>
                <input type="text" value="{{att3}}" id="stu_last_name" name="stu_last_name" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_phone"><b>Phone Number</b></label><br>
                <input type="text" value="{{att4}}" id="stu_phone" name="stu_phone" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_mail"><b>Email Address</b></label><br>
                <input type="text" value="{{att5}}" id="stu_mail" name="stu_mail" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_pass"><b>Password</b></label><br>
                <input type="text" value="{{att6}}" id="stu_pass" name="stu_pass" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_addr"><b>Current Address</b></label><br>
                <input type="text" value="{{att7}}" id="stu_addr" name="stu_addr" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_course"><b>Course of Study</b></label><br>
                <input type="text" value="{{att8}}" id="stu_course" name="stu_course" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_intake"><b>Year Intake</b></label><br>
                <input type="text" value="{{att9}}" id="stu_intake" name="stu_intake" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_skill"><b>Skill Learned</b></label><br>
                <input type="text" value="{{att10}}" id="stu_skill" name="stu_skill" readonly="readonly" required style="background-color: lightgrey;"><br><br>

                <label for="stu_cgpa"><b>CGPA</b></label><br>
                <input type="text" value="{{att11}}" id="stu_cgpa" name="stu_cgpa" readonly="readonly" required style="background-color: lightgrey;"><br><br>
            </div>
            <div class="popOut-container">
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: red; height: 45px; width: 200px; margin-left: 2%;">Cancel</button>
                </a>
                <button type="submit" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Delete</button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if obj1 == "addSuccess": %}
    <div id="updateSuccess" class="popOut" style="display: unset;">

        <form class="popOut-content animate">
            <h1 class="center">Added Successfully</h1>
            <div class="popOut-container">
                <button type="button" style="background: red; height: 45px; width: 200px; margin-left: 2%;">Cancel</button>
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Got it</button>
                </a>
            </div>
        </form>
    </div>
    {% endif %}

    {% if obj1 == "updateSuccess": %}
    <div id="updateSuccess" class="popOut" style="display: unset;">

        <form class="popOut-content animate">
            <h1 class="center">Updated Successfully</h1>
            <div class="popOut-container">
                <button class="hiddenButton" type="button" style="height: 45px; width: 200px; margin-left: 2%;"></button>
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Got it</button>
                </a>
            </div>
        </form>
    </div>
    {% endif %}

    {% if obj1 == "deleteSuccess": %}
    <div id="deleteSuccess" class="popOut" style="display: unset;">

        <form class="popOut-content animate">
            <h1 class="center">Deleted Successfully</h1>
            <div class="popOut-container"></div>
                <button class="hiddenButton" type="button" style="height: 45px; width: 200px; margin-left: 2%;"></button>
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Got it</button>
                </a>
            </div>
        </form>
    </div>
    {% endif %}

    {% if obj1 == "findFailed": %}
    <div id="findFailed" class="popOut" style="display: unset;">

        <form class="popOut-content animate">
            <h1 class="center">Record Not Found</h1>
            <div class="popOut-container">
                <button class="hiddenButton" type="button" style="height: 45px; width: 200px; margin-left: 2%;"></button>
                <a href="{{ url_for('admin_app.admin_student') }}">
                    <button type="button" style="background: green; height: 45px; width: 200px; float: right; margin-right: 2%;">Got it</button>
                </a>
            </div>
        </form>
    </div>
    {% endif %}
</body>
</html>