<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="leftSideBar">
        <h1 class="center">Admin Dashboard</h1>
        <div class="leftOption">
            <a href="{{ url_for('admin_app.admin_admin') }}">
                <button class="leftButton">Admin</button>
            </a>
            <a href="{{ url_for('admin_app.admin_student') }}">
                <button class="leftButton">Student</button>
            </a>

            <a href="{{ url_for('admin_app.admin_employer') }}">
                <button class="leftButton">Employer</button>
            </a>

            <a href="{{ url_for('admin_app.admin_tutor') }}">
                <button class="leftButton">Tutor</button>
            </a>

            <br><br>
            <a href="{{ url_for('main_app.home') }}">
                <button style="background-color: red;" class="leftButton">Logout</button>
            </a>
        </div>
    </div>

    <div class="rightBoard">
        <h1>Tutor Tab (Coming Soon)</h1>
        <div>
        <a><button onclick="document.getElementById('adminAdd').style.display='block'" style="width:100%;">Add Tutor</button></a><br>
        <a><button onclick="document.getElementById('adminUpdate').style.display='block'" style="width:100%;">Update Tutor</button></a><br>
        <a><button onclick="document.getElementById('adminDelete').style.display='block'" style="width:100%;">Delete Tutor</button></a><br>
        </div>
    </div>
</body>
</html>