<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Students Under Your Supervision</h1>
    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student supervisor</th>
                <th>Student Name</th>
                <th>Phone number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for studentSupervisor in studentSupervisor %}
            <tr>
                <td>{{ studentSupervisor.student_id }}</td>
                <td>{{ studentSupervisor.supervisor_id }}</td>
                <td>{{ studentSupervisor.last_name }}</td>
                <td>{{ studentSupervisor.phone_number }}</td>
                <td>{{ studentSupervisor.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/delete-student-under-supervisor" method="POST" enctype="multipart/form-data">
        <label class="form-label" for="student_id">Add student under your supervision: </label>
        <input class="form-input" type="number" id="student_id" name="student_id" placeholder="STUDENT ID" required>
        <button class="form-button" type="submit">SUBMIT</button>
    </form>
</body>

</html>