<!DOCTYPE html>
<html>

<head>
    <title>Employer Login</title>
</head>

<body>
    <center>
        <h1>Employer Login</h1>
        <form action="/employer-login" method="POST">
            <label for="employer_id">Employer ID:</label><br>
            <input type="text" id="employer_id" name="employer_id" required><br><br>

            <label for="employer_password">Employer Password:</label><br>
            <input type="password" id="employer_password" name="employer_password" required><br><br>

            <button type="submit">Login</button>
        </form>

        <p>Haven't signed up yet? <a href="{{ url_for('employer_app.employer_sign_up_page') }}">Click here</a> to sign
            up.</p>
    </center>
</body>

</html>