<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <center>
        <h1>Login</h1>
        <p>Please select your role:</p>
        <ul>
            <li><a href="adminLogin.html">Login as Admin</a></li>
            <li><a href="tutorLogin.html">Login as Tutor</a></li>
            <li><a href="employerLogin.html">Login as Employer</a></li>
            <li><a href="{{ url_for('static', filename= 'templates/studentLogin.html')}}">Login as Student</a></li>
        </ul>
    </center>
</body>

</html>