<!DOCTYPE html>
<html>

<head>
    <title>Student View</title>
</head>

<body>
    <center>
        <form action="/view-student" method="POST"></form>
        <h1>Student Information</h1>
        <p><strong>Student ID      :</strong> {{ student.student_id }}</p>
        <p><strong>Supervisor ID   :</strong> {{ student.supervisor_id }}</p>
        <p><strong>First Name      :</strong> {{ student.first_name }}</p>
        <p><strong>Last Name       :</strong> {{ student.last_name }}</p>
        <p><strong>Phone Number    :</strong> {{ student.phone_number}}</p>
        <p><strong>Email           :</strong> {{ student.email }}</p>
        <p><strong>Password        :</strong> {{ student.password }}</p>
        <p><strong>Current_Address :</strong> {{ student.current_address }}</p>
        <p><strong>Course of Study :</strong> {{ student.course_of_study }}</p>
        <p><strong>Year Intake     :</strong> {{ student.year_intake }}</p>
        <p><strong>Skills Learned  :</strong> {{ student.skills_learned }}</p>
        <p><strong>CGPA            :</strong> {{ student.cgpa }}</p>

         </form>
        
         <form action="{{ url_for('student_app.view_and_edit', student_id=session['student_id']) }}">
            <button type="submit" class="edit-button" style="background: green; height: 45px; width: 200px; color:white; font:oblique;">Edit Information</button><br><br>
        </form>

        <button onclick="history.back()" type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Back to Menu</button>
        
    </center>
</body>

</html>

