<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
</head>
<body>
    <center>
        <h1>Student Login</h1>
        <form action="/student-login" method="POST">
            <label for="student_id">Student ID:</label><br>
            <input type="text" id="student_id" name="student_id" required><br><br>
    
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
    
            <button type="submit">Login</button>
        </form>
        
        <p>Haven't signed up yet? <a href="{{ url_for('student_app.student_signUp_page') }}">Click Here</a> to sign up.</p>
    </center>
</body>
</html>
