<!DOCTYPE html>
<html>

<head>
    <title>Applied Jobs</title>
</head>

<body>
    <center>
        <h1>Jobs Applied</h1>
        <table border="1">
            <tr>
                <th>Application ID</th>
                <th>Job Name</th>
                <th>Job Description</th>
                <th>Salary</th>
                <th>Action</th> <!-- New column for the "Cancel" button -->
            </tr>
            {% for job in jobs %}
            <tr>
                <td>{{ job.application_id }}</td>
                <td>{{ job.job_name }}</td>
                <td>{{ job.job_description }}</td>
                <td>{{ job.salary }}</td>
                <td>
                    <form action="{{ url_for('student_app.cancel_application') }}" method="POST">
                        <input type="hidden" name="application_id" value="{{ job.application_id }}">
                        <button type="submit">Cancel</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <button onclick="history.back()">Back to Menu</button>
    </center>
</body>

</html>

