<!DOCTYPE html>
<html>

<head>
    <center>
        <font color="DodgerBlue" size="5" style="font-family: avenir">

<body bgcolor="lightgrey">
    <h1>Update Successful</h1><br>
    <h2>You have successfully updated job id : {{job_id}}</h2><br>
    <h2>Welcome!!!</h2><br>
    <title>Employer Update Job Output</title>

    <form action="/employer-menu-page" autocomplete="on" method="POST">
        <button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO
            BACK</button><br><br>
    </form>

</body>
</font>
</center>
</head>

<body>

</body>

</html>