<!DOCTYPE html>
<html>

<head>
    <title>View and Edit Jobs</title>
</head>

<body>
    <h1>Job Information</h1>

    <table>
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Salary</th>
                <!-- Add more table headers for other job attributes -->
            </tr>
        </thead>
        <form action="/view-job-post" method="GET">
            <tbody>
                {% for jobs in job_post %}
                <tr>
                    <td>{{ jobs.job_id }}</td>
                    <td>{{ jobs.job_name }}</td>
                    <td>{{ jobs.salary }}</td>
                    <!-- Add more table cells for other job attributes -->
                </tr>
                {% endfor %}
            </tbody>
        </form>
    </table>

    <a href="{{ url_for('employer_app.employer_Menu') }}">Back to Menu</a>
</body>

</html>